body {
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
	background: url('background3.jpg') no-repeat center center fixed;
	background-size: cover;
}

h4 {
	font-size: 20px;
	text-transform: none;
	line-height: 0px;
	padding-top: none;
	margin: none;
}

#newCalendar {
	border: 3px solid #cbcbcb; /*light grey*/
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
	width: 30%;
}

#selectCalTitle {
	font-size: 24px;
	padding-left: 30px;
}

.selectCal {
	border: 1px solid #55CC87; /*green*/
	background: #55CC87;
	margin-left: 30px;
	width: 30%;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
}

.submitEditSelect {
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
	
}

.conflict {
	background: #f96e5c;
	margin: 10px;
	border-radius: 10px;
	padding: 20px;
	float: center;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.conflictsWith {
	font-weight: bold;
}

#checkConflicts {
	float: right;
	margin: 40px;
	padding: 20px;
	font-size: 16px;
	background: #f96e5c; /*red*/
	border-radius: 10px;
}


input[type="text"] {
	width: 100%;
	float: center;
}