@blue: #626E7E;
@light: lighten(@blue, 40%);
@light2: darken(@light, 3%);

body, html {
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
}

html {
	background: url('background3.jpg') no-repeat center center fixed;
	background-size: cover;
}

label {
	display: block;
}

input[type="text"] {
	width: 100%;
	height: 30px;
}

input[type="email"] {
	width: 100%;
	height: 30px;
}

input[type="password"] {
	width: 100%;
	height: 30px;
	
}

input[type="submit"] {
	display: block;
	float: center;
	font-size: 16px;
	border: 1px solid #55CC87; /*green*/
	background-color: #55CC87; 
	border-radius: 25px;
	margin: 0 auto;
	padding: 15px;
}

.homePage {
	float: left;
	width: 40%;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 14px;
}

.createCalendar {
	display:inline;
	/*float: left;*/
	font-size: 14px;
	border: 1px solid #BA8EDD; /*light purple*/
	background-color: #BA8EDD;
	border-radius: 20px;
	padding: 7px;
}

.findCalendar {
	display: inline-block;
	width: 55%;
	float:left;
	margin-left: 40px;
}

#findCalendarSubmit {
	display: inline;
	font-size: 14px;
	border: 1px solid #ba8edd; /*light purple*/
	background-color: #ba8edd;
	border-radius: 20px;
	padding: 7px;
}

.loginRegister {
	border: 1px solid #cbcbcb; /*light grey*/
	background-color: #cbcbcb;
	width: 15%;
	height: 55%;
	float: right;
	border-radius: 25px;
	padding: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 40px;
}

#login {
	display:none;
}

#register {
	display:block;
}

.signout {
	float: right;
	padding: 0.5em;
	margin-right: 30px;
}

.weekOf {
	padding: 0.5em;
	margin-left: 30px;
	width: 60%;
	float: left;
	font-weight: bold;
}

.Calendar table {
	font-family:sans-serif;
	width: 60%;
	border-spacing: 0;
	border-collapse: separate;
	table-layout: fixed;
	margin-bottom: 50px;
}

.Calendar thead{
		tr{
			th{
				background: @blue;
				color: @light;
				padding: 0.5em;
				overflow: hidden;

				&:first-child{
					border-radius:3px 0 0 0;
				} 
				&:last-child{
					border-radius:0 3px  0 0;
				}

				.day{
					display: block;
					font-size: 1.2em;
					border-radius: 50%;
					width: 30px;
					height: 15px;
					margin: 0 auto 5px;
					padding: 5px;
					line-height: 1.8;
					&.active{
						background: @light;
						color: @blue;
					}
				}
				
				.short{
					display: none;
				}

				i{
					vertical-align: middle;
					font-size: 2em;
				}
			}
		}
	}
}
  
.Calendar tbody{
   tr{
		background: @light;
		&:nth-child(odd) {
       		background:@light2;
		}
   	}
    &:nth-child(4n+0){
	    td{
	       border-bottom:1px solid @blue;
	    }
	}
}
.Calendar td{
   text-align: center;
   vertical-align: middle;
   border-left: 1px solid @blue;
   position: relative;
   height: 15px;
   cursor: pointer;

	&:last-child{
      	border-right:1px solid @blue;
    }
	&.hour {
	    font-size: 2em;
	    padding: 0;
	    color: @blue;
	    background:#fff;
	    border-bottom:1px solid @blue;
	    border-collapse: separate;
	    min-width: 100px;
	    cursor: default;

		span{
		   	display: block;
		}
   }  	
}
	
.Calendar @media(max-width:60em){
	thead{
		tr{
			th{
				.long{
					display: none;
				}
	
				.short{
					display: block;
				}
			}
		}
	}

	tbody{
		tr{
			td{
				&.hour{
					span{
						transform:rotate(270deg);
						-webkit-transform:rotate(270deg);
						-moz-transform:rotate(270deg);
					}
				}
			}
		}
	}
}
	
.Calendar @media(max-width:27em){
	thead{
		tr{
			th{
				font-size: 65%;
				.day{
					display: block;
					font-size: 1.2em;
					border-radius: 50%;
					width: 20px;
					height: 20px;
					margin: 0 auto 5px;
					padding: 5px;
	
					&.active{
						background: @light;
						color: @blue;
					}
				}
			}
		}
	}
	tbody{
		tr{
			td{
				&.hour{
					font-size: 1.7em;
					span{
						transform:translateY(16px)rotate(270deg);
						-webkit-transform:translateY(16px)rotate(270deg);
						-moz-transform:translateY(16px)rotate(270deg);
					}
				}
			}
		}
	}
}