body {
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 24px;
	text-transform: none !important;
	line-height: 0;
	font-weight: normal;
}

label {
	display: block;
}

input[type="text"] {
	width: 100%;
	height: 30px;
}

input[type="email"] {
	width: 100%;
	height: 30px;
}

input[type="password"] {
	width: 100%;
	height: 30px;
	
}

input[type="submit"] {
	display: block;
	float: center;
	font-size: 16px;
	border: 1px solid #55CC87; /*green*/
	background-color: #55CC87; 
	border-radius: 25px;
	margin: 0 auto;
	padding: 15px;
}

.homePage {
	float: left;
	width: 40%;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 14px;
}

.createCalendar {
	display:inline;
	/*float: left;*/
	font-size: 14px;
	border: 1px solid #BA8EDD; /*light purple*/
	background-color: #BA8EDD;
	border-radius: 20px;
	padding: 7px;
}

.findCalendar {
	display: inline-block;
	width: 55%;
	float:left;
	margin-left: 40px;
}

#findCalendarSubmit {
	display: inline;
	font-size: 14px;
	border: 1px solid #ba8edd; /*light purple*/
	background-color: #ba8edd;
	border-radius: 20px;
	padding: 7px;
}

.loginRegister {
	border: 1px solid #cbcbcb; /*light grey*/
	background-color: #cbcbcb;
	width: 15%;
	height: 100%;
	float: right;
	border-radius: 25px;
	padding: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 40px;
}

#login {
	display:none;
}

#register {
	display:block;
}