<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/editCalStyle.css"/>
<head>
    <title>201-scheduler - Edit Calendar</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/momentjs/moment.js"></script>
    
    <script th:inline="javascript">
    	var calendar = /*[[${calendar}]]*/ null;
    	var ROUTE = /*[[${ROUTE}]]*/ 'http://localhost:8080';
    	var close = document.getElementById('closeButtonEdit')[0];
    	window.onclick = function(event) {
    		if(event.target == modal) {
    			$("#modal").hide();
    		}
    	}

    	close.onclick = function() {
    		$("#modal").hide();
    	}
    </script>
    <script th:src="@{/edit.js}"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2>
</noscript>
<a th:href="@{/}">Home</a><br />
<label th:text="'User ID: ' + ${webVisitor.id}"></label><br />
<label th:text="'You are editing the calendar named: ' + ${calendar.name}"></label><br />
<label th:text="'Calendar id: ' + ${calendar.id}"></label><br />

<!-- JavaScript uses this div to display the calendar and edits from other users -->
<table >
	<tr>
		<td style="width: 70%">
			<div id="viewEvents"></div>
		</td>
	
	
<!-- JavaScript uses this div to add a new event -->
		<td>
			<div id="addEvent"></div>
		</td>
	</tr>
</table>

<br /><br /><br />

<!-- JavaScript uses this div to edit an event -->
<div id='modal' class='modal'>
	<div id="editEvent"></div>
</div>



</body>
</html>