<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/findCalStyle.css"/>
<head>
    <title>201-scheduler - Find Calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/momentjs/moment.js"></script>
    <script th:inline="javascript">
    	var allCalendars = /*[[${allCalendars}]]*/ null;
    	var webVisitor = /*[[${webVisitor}]]*/ null;
    </script>
    <script th:src="@{/find.js}"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2>
</noscript>
	<a th:href="@{/}">Home</a><br />
	<label th:text="'User Id: ' + ${webVisitor.id}"></label><br /><br />
	
	<!-- DISPLAY THE CALENDAR IN A TABLE VIA JAVASCRIPT -->
	<div id="viewEvents"></div>
	
	<!-- CALENDAR VIEWING CONTROLS -->
	<div id="controls">
				
		<!-- JavaScript updates this with a list of calendars to choose from -->
		<div id="selectCalendars"></div>
		<div id="view"></div>
	</div>
</body>
</html>