<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>201-scheduler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<a th:href="@{/}">Home</a><br />
	<label th:text="'User Id: ' + ${webVisitor.id}"></label><br /><br />
    <p th:text="'Welcome to the homepage of 201-scheduler, ' + ${name} + '!'" /><br />

    <!-- REGISTER DEMO -->
    <br /><br /><br />
    REGISTER DEMO
    <form action="/user/register" method="POST">
    	Email <input type="text" name="email" th:if="${registerEmail}" th:value="${registerEmail}"/>
    	<input type="text" name="email" th:unless="${registerEmail}" th:placeholder="'your@email.com'"/><br />
    	Password <input type="password" name="password" /><br />
    	Confirm Password <input type="password" name="confirmPassword" /><br />
    	<input type="submit" value="Register" />
    </form>
    
    <br />
    <p th:if="${registerErr}">Error logging in: <span th:text="${registerErr}"></span></p>
    <!-- END REGISTER DEMO -->
    
    
    <!-- LOGIN DEMO -->
    <br /><br />
    LOGIN DEMO
    <form action="/user/login" method="POST">
    	Email <input type="text" name="email" th:if="${loginEmail}" th:value="${loginEmail}"/>
    	<input type="text" name="email" th:unless="${loginEmail}" th:placeholder="'your@email.com'"/><br />
    	Password <input type="password" name="password" /><br />
    	<input type="submit" value="Login" />
    </form>
    
    <br />
    <p th:if="${loginErr}">Error logging in: <span th:text="${loginErr}"></span></p>
    <p th:if="${webVisitor.loggedIn}">You're logged in as <span th:text="${webVisitor.user.email}"></span></p>
    <!-- END LOGIN DEMO -->
    
    
    <!-- CREATE CALENDAR DEMO -->
    <br /><br />
    <a th:href="@{/calendar/new}">CREATE CALENDAR DEMO (MUST BE LOGGED IN)</a>
    <!-- END CREATE CALENDAR DEMO -->
    
    <!-- FIND CALENDAR DEMO -->
    <br /><br /><br />
    FIND CALENDAR DEMO (MUST BE LOGGED IN)
    <form action="#" th:action="@{/calendar/find}" method="GET">
    	Calendar Name (leave blank to find all) <input type="text" name="calendarName"/>
    	<input type="submit" value="Find Calendar" />
    </form>
    <!-- END FIND CALENDAR DEMO -->
    <br />
    
</body>
</html>