<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="indexStyle.css"/>
<head>
    <title>201-scheduler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   	<script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/momentjs/moment.js"></script>
    <script type="text/javascript">
    	function swapRegLogin() {
    		if ($("#login").is(":visible")) {
    			$("#login").hide();
    			$("#register").show();
    		} else if ($("#register").is(":visible")) {
    			$("#register").hide();
    			$("#login").show();
    		}
    	}
    </script>
    <script th:src="@{/index.js}"></script>
</head>
<body>

	<div id="homePage" class="homePage">
		<!-- <a th:href="@{/}">Home</a><br /> -->
		<label th:text="'User ID: ' + ${webVisitor.id}"></label>
    	<p th:text="'Welcome to the homepage of 201-scheduler, ' + ${name} + '!'" />
	</div>
	
    <!-- REGISTER DEMO -->
    <br /><br /><br />
    <div th:if="${webVisitor.loggedIn == false}" id="register" class = "loginRegister">
	    <h4>Sign Up! It's Free!</h4><br/>
	    <form action="/user/register" method="POST">
	    	Email<br/> <input type="text" name="email" width="48" th:if="${registerEmail}" th:value="${registerEmail}"/>
	    	<input type="text" name="email" width="48" th:unless="${registerEmail}" th:placeholder="'your@email.com'"/><br /><br/>
	    	Password <br/><input type="password" name="password" width="48"/><br /><br/>
	    	Confirm Password <br/> <input type="password" name="confirmPassword" /><br /><br/>
	    	<input style="float:center; text-align:center;" type="submit" value="Register" />
	    </form>
	    <p style="font-size:12px; text-align:center;">Already have an account? Log in <a href="#" onclick="swapRegLogin();">here!</a></p>
    </div>
    
    <br />
    <p th:if="${registerErr}">Error logging in: <span th:text="${registerErr}"></span></p>
    <!-- END REGISTER DEMO -->
    
    
    <!-- LOGIN DEMO -->
    <br /><br />
    <div th:if="${webVisitor.loggedIn == false}" id="login" class="loginRegister">
	    <h4>Log In</h4><br/>
	    <form action="/user/login" method="POST">
	    	Email<br/> <input type="text" name="email" th:if="${loginEmail}" th:value="${loginEmail}"/>
	    	<input type="text" name="email" th:unless="${loginEmail}" th:placeholder="'your@email.com'"/><br /><br/>
	    	Password<br/> <input type="password" name="password" /><br /><br/>
	    	<input type="submit" value="Login" />
	    </form>
	    <p style="font-size:12px; text-align: center;">Don't have an account? Register <a href="#" onclick="swapRegLogin();">here!</a></p>
    </div>
    
    <div th:if="${webVisitor.loggedIn}" id="signout" class="signout">
    	Sign Out
    </div>
    
    <br/>
    <p th:if="${loginErr}">Error logging in: <span th:text="${loginErr}"></span></p>
    <p th:if="${webVisitor.loggedIn}">You're logged in as <span th:text="${webVisitor.user.email}"></span></p>
    <!-- END LOGIN DEMO -->
    
    
    <!-- FIND CALENDAR DEMO -->
    <div class="findCalendar">
	    <form action="#" th:action="@{/calendar/find}" method="GET">
	    	<label for="findCal" style="font-size: 14px;">Calendar Name (leave blank to find all)</label>
	    	<input type="text" style="width: 250px;" id="findCal" name="calendarName"/>
	    	<input id="findCalendarSubmit" type="submit" value="Find Calendar" />
	    	<!-- CREATE CALENDAR DEMO -->
	    		<a class="createCalendar" th:href="@{/calendar/new}" style="text-decoration: none;">Create New Calendar</a>
    		<!-- END CREATE CALENDAR DEMO -->
	    </form>
	</div>
    <!-- END FIND CALENDAR DEMO -->
    
    <!-- EXAMPLE CALENDAR -->
    <div id="indexCalendar" class="Calendar"></div>
    <br><br>
</body>
</html>