<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/viewCalStyle.css"/>
<head>
    <title>201-scheduler - View Calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/momentjs/moment.js"></script>
    <script th:inline="javascript">
    	var viewedCalendar = /*[[${viewedCalendar}]]*/ null;
    	var allCalendars = /*[[${allCalendars}]]*/ null;
    </script>
    <script th:src="@{/view.js}"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2>
</noscript>
	<a th:href="@{/}" style="text-decoration: none">Home</a><br />
	<!-- <label th:text="'User Id: ' + ${webVisitor.id}"></label><br /><br />  -->
	
	<!-- DISPLAY THE CALENDAR IN A TABLE VIA JAVASCRIPT -->
	<div id="viewEvents"></div>
	
	<!-- CALENDAR VIEWING CONTROLS -->
	<div id="controls">
		<b><label for="viewingWeek">Viewing for the Week of</label></b><br />
		<input type="text" name="viewingWeek" /><br /><br />
		
		<!-- JavaScript updates this with a list of calendars to choose from -->
		<div id="selectCalendars"></div>
		
		<!-- This div is hidden by default and is shown when the user clicks the "Share" button -->
		<div id="sharePopup">
			<div class="reveal-modal">
				<form>
					<input type="text" name="sharingEmails" placeholder="Comma-separated list of emails to share with..." />
					<button type="button" onclick="finishSharingCalendars();">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>